* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000;
}

.topo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-btn div {
    width: 100%;
    height: 4px;
    background-color: #3950A6;
    border-radius: 3px;
}

.sino {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-left: 5px;
}

.logo-area img {
    height: 50px;
    object-fit: contain;
}

.barra-pesquisa {
    margin-left: 30px;
    width: 55%;
    height: 38px;
    border-radius: 12px;
    padding: 0 15px;
    border: 2px solid #ccc;
    font-size: 15px;
}

.conteudo {
    display: flex;
    margin-top: 45px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: #3950A6;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    font-size: 45px;
}
.subt {
    color: #000000;
    margin-bottom: 40px;
    margin-top: 25px; 
    font-size: 21px;
    font-weight: bold;
}

.input-convite {
    width: 80%;
    max-width: 470px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 45px; 
    padding: 0 12px;
    font-size: 17px;
    cursor: pointer;
}

.botao {
    width: 400px;
    height: 44px;
    margin-top: 100px;
    background-color: #3950A6;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.pergunta {
    margin: 25px;
    font-size: 18px;
    color: #000;
}
