* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
}


.container {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.parte-logo { 
    background-color: #86AFF6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.logo img {
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.pre-forms {
    background-color: #fffaf5;
    padding: 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
}

.pre-forms h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 18px;
    color: #3D3333;
}

.grupo-2 {
    display: flex;
    gap: 10px;
}

.grupo-formulario {
    margin-bottom: 12px;
    width: 100%;
}

.grupo-formulario label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #3D3333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin: 12px 0;
    line-height: 1.2;
}
.checkbox input {
    width: 16px;
    height: 16px;
}

.botao {
    width: 100%;
    padding: 12px;
    background-color: #2f52a2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
}

.botao:hover {
    background-color: #23417c;
}

.cadastre-se {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color:#3D3333;
}

.cadastre-se a {
    color:#2f52a2;
    text-decoration: none;
    font-weight: bold;
}

/* Desktop */
@media (min-width: 769px) {
    .container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        border-radius: 0;
        box-shadow: none;
        min-height: 100vh;
    }

    .parte-logo {
        flex: 1;
        background-color: #86AFF6;
        padding: 40px;
    }

    .pre-forms {
        flex: 1;
        background-color: #fffaf5;
        padding: 40px;
        border-radius: 20px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grupo-2 {
        display: flex;
    }

    .dados-usuario {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .pre-forms h2 {
        font-size: 32px;
    }
}