* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #faf4e8;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.menu-icon {
    cursor: pointer;
    font-size: 25px;
    color:#2b4d9c;
}

.logo {
    font-weight: bold;
    color: #2b4d9c;
}

.caixa-pesquisa {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 10px;
  width: 700px; 
  margin-left: 100px;
}

.caixa-pesquisa img.icone-lupa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.caixa-pesquisa input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.noti {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 2px;
    color: #2b4d9c;
}

.imglogo {
    width: 50px;
    height: 50px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.container {
    padding: 40px 60px;
}

.container h1 {
    font-size: 28px;
    color: #2b4d9c;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    color: #555;
}

.botao {
    width: 300px;
    padding: 12px;
    background-color: #2f52a2;
    color: #F5C22C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 18px 0 0 0;
    display: block;          
    text-align: center;
    text-decoration: none;
}